<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.corporation.mapper.AdminMapper">
	<select id="findAdminByNP" parameterType="Admins" resultType="Admins"><!-- #{menuTitle,jdbcType=VARCHAR}  -->
		select * from admin where aname=#{aname} and apwd=#{apwd} 
	</select>

	<!-- 后台查询所有管理员界面显示 -->
	<select id="findAll" parameterType="Admins" resultType="Admins">
		select * from admin 
	</select>
</mapper>