<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.corporation.mapper.DirectorMapper">
	
	<!-- 后台查询所有理事会界面显示 -->
	<select id="findAll" parameterType="Director" resultType="Director">
		select * from director 
	</select>
</mapper>