<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.corporation.mapper.UserMapper">
	<select id="findUserByNP" parameterType="Users" resultType="Users">
	 select * from users where  username=#{username,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
	</select>
	<select id="findAll"  resultType="Users" >
	select * from users
	</select>
	
	<insert id="insertUsers"  parameterType="Users">
	insert into USERS values(seq_users_usid.nextval,#{username},#{password},#{email},#{sex},#{age},#{userclass},#{home},#{phone})
	
	</insert>
</mapper>