<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="信息 %d %-5p %C{1} (%F:%L) - %m%n"/>
        </Console>
        <File name="fileLog" fileName="logs/vote.log">
       		<PatternLayout pattern="信息 %d %-5p %C{1} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.yc.cinema" level="debug"/>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="fileLog"/>
        </Root>
    </Loggers>
</Configuration>