@charset "utf-8";
/* CSS Document */


*{		padding:0;
		margin:0 auto;}
	/*所有li标签都应该去除点*/
	ul li{
		list-style:none;}
	/*所有的a标签去除下划线*/
	a{	color:#000;
		text-decoration:none;}
	body{
		width:1000px;
		color:#000;
		font-size:14px;
		font-family:"微软雅黑";
		/*background: -webkit-gradient(lineare91428bg1, left top, left bottom, from(#67BEFE), to(#fff));}
		*/
		background:url(../images/922769_13086175718akM.jpg);
		background-size:cover;
		/*background-size:cover;*/}
	.top{
		width:100%;
		height:172px;}
	.menu {
	width: 100%;
	height:70px;
	}
	.menu ul{
		padding-top:5px}
.menu ul li {
	margin-top: 10px;
	float: left;
	padding-left:5px;
	font-size: 22px;
	width:105px;
	text-align:center;
}


.menuclass{
		transition: all 0.3s ease-out;
		color:#000;
		font-family:"黑体";
		padding:5px 0;
		width:100px;
		border-radius: 5px;
		display: block;
		text-decoration: none;
		box-shadow: 2px 2px 2px 2px #888;
	}
	
	 .menuclass:hover {
		color:#FC0;
		padding: 10px 0px 10px 0px;
		cursor:pointer;
		}

ul li a:hover {
	color:#F00;
}

.content {
	width: 100%;
	height: 640px;
	border-radius:10px;
	
}

.welcome {
	width: 25%;
	height: 490px;
	float: left;
}

.login {
	width: 20%;
	height: 150px;
	float: left;
	text-align:center;
}
#search_box {
	margin-bottom:40px;   
width: 20%;   
height: 31px;
float:left; 
background:url(../images/bg_search_box.gif); 
}   
#search_box #s {   
float: left;   
padding: 0;   
margin: 6px 0 0 6px;   
border: 0;   
width: 159px;   
background: none;   
font-size:;   
}   
#search_box #go {   
float: right;   
margin: 3px 4px 0 0;   
}
.error{
	color: #f00;
	text-align: center;
	clear: both;
}
.loginform {
	width: 120px;
	height: 20px;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom:5px;
}

#btnOK{
	width:50px;
	margin-bottom:10px}
	
#resetbottom a{
	color:#33F;
	font-weight:bold;}
#resetbottom a:hover{
	color:#F00;}
.menubottom {
	width: 100%;
	height: 250px;
	float: left;
}

.picrotate {
	width: 79%;
	height: 250px;
	float: left;
}

.fastshow {
	width: 100%;
	height: 130px;
}

.fastshow ul li {
	float: left;
	text-align: center;
	padding-bottom: 5px;
}

.fastshow ul li a {
	margin-top: 10px;
}

.fastshowdiv {
	width: 77px;;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	background: #999;
	font-weight: bold;
	font-size: 18px;
}

.prevue {
	width: 100%;
	height: 268px;
	float: left;
	font-size: 14px;
	overflow: hidden;
	padding-bottom: 20px;
	border-right: 1px solid #CCC;
	background: #FFF;
}

.neartop {
	width: 100%;
	height: 25px;
	float: left;
	padding-top: 8px;
	padding-left: 5px;
	background: url(../images/chattop.png) repeat;
}

#moreact {
	font-size: 14px;
}

#morenews {
	padding-left: 270px;
	font-size: 14px;
}

#morenews:hover {
	color: #F00;
}

.neartop {
	font-size: 16px;
}

.neartop #moreact:hover {
	color: #F00;
}

.news {
	width: 39%;
	height: 490px;
	float: left;
	background-color: #FFF;
	border-right: 1px solid #CCC;
}

.newstop {
	width: 100%;
	height: 27px;
	font-size: 16px;
	padding-top: 6px;
	background: url(../images/chattop.png)
}

.newsshow {
	width: 100%;
	height: 150px;
	float: left;
	font-size: 14px;
	border-left: 1px solid #CCC;
}

.newsshowleft {
	width: 80%;
	height: 100%;
	float: left;
}

.newsshowright {
	width: 20%;
	height: 100%;
	float: left;
}

.about {
	width: 35.9%;
	height: 490px;
	float: left;
}

.chattop {
	width: 100%;
	height: 27px;
	font-size: 16px;
	float: left;
	padding-top: 6px;
	background: url(../images/chattop.png)
}

.chat {
	width: 100%;
	height: 100px;
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.chatleft {
	width: 58%;
	height: 100%;
	float: left;
}

.chatright {
	width: 42%;
	height: 100%;
	float: left;
}

.mail {
	width: 100%;
	height: 143px;
	float: left;
}

.mailleft {
	width: 70%;
	height: 100%;
	float: left;
}

.mailright {
	width: 30%;
	height: 100%;
	float: left;
}

.option {
	width: 230px;
	margin-left: 10px;
	margin-top: 20px;
}

.textarea {
	width: 230px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.mailbtn {
	width: 80px;
	height: 80px;
	margin-top: 53px;
	margin-left: 10px;
}

.footer{
    width:100%;
    height:100px;
	float:left;
	font-family:"微软雅黑";
	border-radius: 10px;
}
.footer .footer1{
    height:50px;
    background-color:#999;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
.footer1 p{
    padding-top:15px;
    color:#fff;
    text-align:center;
	font-size:14px;
}
.footer2{
	height:50px;
	background-color:#F0F0F0;
	padding-top:10px;
	text-align:center;
	font-size:12px;
	color:#666;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.scroll-container li a {
	color: #7AAA1B;
	text-decoration: none;
}

#notice {
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	color: #7AAA1B;
	overflow: hidden;
	zoom: 1;
	padding-left: 26px;
	background: url(../images/notice.gif) no-repeat left 7px;
	width: 974px;
}

#notice .scroll-container li a {
	color:#00F;
	text-decoration: none;
}

.roundabout-holder {
	width: 570px;
	height: 80px;
	margin: 0 auto;
}

.roundabout-moveable-item {
	width: 300px;
	height: 80px;
	cursor: pointer;
	border: 3px solid #ccc;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.roundabout-moveable-item img {
	width: 100%;
}

.roundabout-in-focus {
	border: 3px solid rgba(0, 0, 0, 0.2);
}

<!--------------------------------------------------------------------------------------------------------------------------------------->


.re {
	margin-left: 570px;
	margin-top: 40px;
	width: 280px;
	height: 600px;
	display:none;
}

#register {
	padding-top: 30px;
}

