@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0 auto;
}
/*所有li标签都应该去除点*/
ul li {
	list-style: none;
}
/*所有的a标签去除下划线*/
a {
	text-decoration: none;
}

body {
	width: 1000px;
	font-size: 12px;
	font-family: "微软雅黑";
	background: url(../images/bodybg.jpg)
}

.top {
	width: 100%;
	height: 150px;
}

#btnOK {
	margin-top: 5px;
	font-size: 14px;
	height: 25px;
	width: 60px;
	margin-left: 15px;
}

#btnRE {
	margin-top: 5px;
	font-size: 14px;
	height: 25px;
	width: 60px;
}

#hre {
	margin-top: 10px;
}

.menu {
	width: 100%;
	height: 50px;
	background: url(../images/menubg.jpg) repeat-x;
}

.menu ul li {
	margin-top: 10px;
	float: left;
	padding-left: 27px;
	font-size: 20px;
}

ul li a:hover {
	color: #F00;
}

.content {
	width: 100%;
	height: 640px;
	background-color: #fff;
}

.welcome {
	width: 25%;
	height: 490px;
	float: left;
}

.login {
	width: 20%;
	height: 150px;
	float: left;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #000;
	border-right: 2px solid #999;
	text-align: center;
}
.error{
	color: #f00;
	text-align: center;
	clear: both;
}
.loginform {
	width: 120px;
	height: 20px;
	font-size: 12px;
	margin-top: 5px;
}

.menubottom {
	width: 100%;
	height: 150px;
	float: left;
	background: url(../images/loginbg.jpg);
}

.picrotate {
	width: 79%;
	height: 150px;
	float: left;
}

.fastshow {
	width: 100%;
	height: 130px;
}

.fastshow ul li {
	float: left;
	text-align: center;
	padding-bottom: 5px;
}

.fastshow ul li a {
	margin-top: 10px;
}

.fastshowdiv {
	width: 77px;;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	background: #999;
	font-family: "叶根友非主流手";
	font-weight: bold;
	font-size: 18px;
}

.prevue {
	width: 100%;
	height: 268px;
	float: left;
	font-size: 14px;
	overflow: hidden;
	padding-bottom: 20px;
	border-right: 1px solid #CCC;
	background: #FFF;
}

.prevue ul li a:hover {
	background: #F90;
}

.neartop {
	width: 100%;
	height: 25px;
	float: left;
	padding-top: 8px;
	padding-left: 5px;
	background: url(../images/chattop.jpg) repeat;
}

#moreact {
	font-size: 14px;
}

#morenews {
	padding-left: 270px;
	font-size: 14px;
}

#morenews:hover {
	color: #F00;
}

.neartop {
	font-family: "微软雅黑";
	font-size: 16px;
}

.neartop #moreact:hover {
	color: #F00;
}

.news {
	width: 39%;
	height: 490px;
	float: left;
	background-color: #FFF;
	border-right: 1px solid #CCC;
}

.newstop {
	width: 100%;
	height: 27px;
	font-size: 16px;
	padding-top: 6px;
	background: url(../images/chattop.jpg)
}

.newsshow {
	width: 100%;
	height: 150px;
	float: left;
	font-size: 14px;
	border-left: 1px solid #CCC;
}

.newsshowleft {
	width: 80%;
	height: 100%;
	float: left;
}

.newsshowright {
	width: 20%;
	height: 100%;
	float: left;
}

.about {
	width: 35.9%;
	height: 490px;
	float: left;
}

.chattop {
	width: 100%;
	height: 27px;
	font-size: 16px;
	float: left;
	padding-top: 6px;
	background: url(../images/chattop.jpg)
}

.chat {
	width: 100%;
	height: 100px;
	float: left;
	font-size: 16px;
	font-family: "叶根友非主流手";
	font-weight: bold;
}

.chatleft {
	width: 58%;
	height: 100%;
	float: left;
}

.chatright {
	width: 42%;
	height: 100%;
	float: left;
}

.mail {
	width: 100%;
	height: 143px;
	float: left;
}

.mailleft {
	width: 70%;
	height: 100%;
	float: left;
}

.mailright {
	width: 30%;
	height: 100%;
	float: left;
}

.option {
	width: 230px;
	margin-left: 10px;
	margin-top: 20px;
}

.textarea {
	width: 230px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.mailbtn {
	width: 80px;
	height: 80px;
	margin-top: 53px;
	margin-left: 10px;
}

.footer {
	width: 100%;
	height: 140px;
	float: left;
	font-family: "微软雅黑";
}

.footer .footer1 {
	height: 50px;
	background-color: #999;
}

.footer1 p {
	padding-top: 15px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.footer2 {
	height: 90px;
	background-color: #F0F0F0;
	padding-top: 10px;
	text-align: center;
	font-size: 12px;
	color: #666;
}

.scroll-container li a {
	color: #7AAA1B;
	text-decoration: none;
}

#notice {
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	color: #7AAA1B;
	overflow: hidden;
	zoom: 1;
	padding-left: 26px;
	background: url(../images/notice.gif) no-repeat left 7px;
	width: 974px;
}

#notice .scroll-container li a {
	color: #7AAA1B;
	text-decoration: none;
}

.roundabout-holder {
	width: 550px;
	height: 50px;
	margin: 0 auto;
}

.roundabout-moveable-item {
	width: 250px;
	height: 50px;
	cursor: pointer;
	border: 3px solid #ccc;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.roundabout-moveable-item img {
	width: 100%;
}

.roundabout-in-focus {
	border: 3px solid rgba(0, 0, 0, 0.2);
}