@charset "utf-8";
/* CSS Document */


*{		padding:0;
		margin:0 auto;}
	/*所有li标签都应该去除点*/
	ul li{
		list-style:none;}
	/*所有的a标签去除下划线*/
	a{
		color:#000;
		text-decoration:none;}
	body{
		width:1000px;
		font-size:14px;
		font-family:"微软雅黑";
		/*background: -webkit-gradient(linear, left top, left bottom, from(#67BEFE), to(#fff));}
		*/
		background:url(../images/e91428bg1.jpg) no-repeat;
		background-size:cover;}
	.top{
		width:100%;
		height:150px;}
.menu {
	width: 100%;
	height: 50px;
	background:url(../images/menubg.jpg) repeat-x;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.menu ul li {
	margin-top: 10px;
	float: left;
	padding-left: 27px;
	font-size: 20px;
}
ul li a:hover{
	color:#69F;
}
a:hover{
	color:#39F;}

/*------------------------底部----------------------------------*/		
	.footer{
    width:100%;
    height:100px;
	float:left;
	font-family:"微软雅黑";
}
.footer .footer1{
    height:50px;
    background-color:#999;
}
.footer1 p{
    padding-top:15px;
    color:#fff;
    text-align:center;
	font-size:14px;
}
.footer2{
	height:30px;
	background-color:#F0F0F0;
	padding-top:10px;
	text-align:center;
	font-size:12px;
	color:#666;
}

/*--------------------------头部中部和底部  -----------------------------------------*/

	.content{
		width:100%;
		height:auto;
		background:url(../images/back_pu.jpg);
		float:left;
		background-size:cover;
		color:#000;}
	


	.left{
		width:25%;
		height:100%;		
		float:left;
		border-right:1px solid #CCC;
		}
		
	.right{
		width:748px;
		height:100%;		
		float:left;
		position: relative;
		border-left:1px solid #CCC;
		}
	
	#d2{
		display:none;}
	#d3{
		display:none;}
	#d4{
		display:none;}
	#d5{
		display:none;}
	#d6{
		display:none;}
	#d7{
		display:none;}
	#d8{
		display:none;}
	#d9{
		display:none;}

	.clubrightshow{
		width:710px;
		height:100%;
		float:left;
		font-size:16px;
		margin-left:20px;
		overflow:auto;
		padding-right:20px;}
/*--------------------------------------协会活动--------------------------------------------*/		
	.clubrightshowleft{
		width:85%;
		height:100%;
		float:left;
		color:#000;}
	.clubrightshowleft ul li{
		color:#000;
		border-bottom:1px dashed #000;
		padding-top:5px;}
	.clubrightshowright{
		width:15%;
		height:100%;
		float:left;}
	.clubrightshowright ul li{
		color:#000;
		border-bottom:1px dashed #000;
		padding-top:5px;}
/*-----------------------------------左侧菜单-----------------------------------------------------*/
	.left .association{
		list-style: none;
		width: 250px;
		margin-left:0;
		position: relative;
		margin-top:10px;
		background-size: 50% 100%;}
	.left_logo{
		height:20px;
		width:20px;
		margin-right:10px;
		margin-left:35px}
	ul.association li {
		padding-top:7px;
		margin-top:3px;}
	ul.association li span {
		font-size:18px;
		-webkit-transition: all 0.3s ease-out;
		/*background:url(../images/leftbg.png);*/
		color: #000;
		font-family:"黑体";
		padding:5px 10px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 170px;
		display: block;
		text-decoration: none;
		box-shadow: 2px 2px 4px #888;}
	 ul.association li span:hover {
		color: #67a5cd;
		padding: 5px 15px 5px 10px;
		cursor:pointer;
		}
        
/*----------------------------------名人堂------------------------------------------------------*/


.star{	
		width:100%;
		height:100%;
		float:left;
		overflow:auto;
	}
	
	.starmin{
		width:45%;
		height:24%;
		float:left;
		margin-top:20px;
		margin-left:20px;}
		
	.starleft{
		width:42%;
		height:100%;
		float:left;}
		
	.starimg{
		width:100%;
		height:100%}
		
	.starright{
		width:58%;
		height:100%;
		float:left;}
        
/*--------------------------------------------------------搜索---------------------------------------------------------------*/
	#seach{
		float:right;
		padding-top:10px;
		padding-right:10px;
		width:100px;}
	/* reset webkit search input browser style */
	input {
		outline: none;
		position: relative;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; /* remove the search and cancel icon */
	}
	/* search input field */
	input[type=search] {
		background: #ededed url(../images/search-icon.png) no-repeat 9px center;
		border: solid 1px #ccc;
		padding: 9px 10px 9px 32px;
		width: 55px;		
		-webkit-border-radius: 10em;
		-moz-border-radius: 10em;
		border-radius: 10em;		
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	input[type=search]:focus {
		background-color: #fff;
		border-color: #6dcff6;		
		-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(109,207,246,.5);
	}
	
	/* placeholder */
	input:-moz-placeholder {
		color: #999;
	}
	input::-webkit-input-placeholder {
		color: #999;
	}
	/*--------------------------------------------------部门-------------------------------------------------------*/
	.department{
		float:left;
		width:100%;
		height:auto;
		}
	.departmenttop{
		margin-top:10px;
		margin-bottom:10px;
	}
	.departmentbottom{
		width:100%;
		height:50px;
		border-bottom:2px solid #999;/*部门下部线条*/
}
	.departmentbottommin{
		width:40px;
		height:40px;}
	.departmentbottom a img{
		width:100%;
		height:100%;}
	.departmentbottom ul li{
		float:left;}
		
/*------------------------------------------------协会文档---------------------------------------------------------------*/
.excel{
	width:16px;
	height:16px;}

.rightfloat{
		float:right;}
	.downloadimg{
		width:30px;
		height:16px;
		padding-left:20px;}
	.downloadimg:hover{
		cursor:pointer;}
/*------------------------------------------------活动报名---------------------------------------------------------------*/
.actregister{
	width:450px;
	float:left;
	margin-left:100px;
	}
.actregister form{
	padding-top:10px;}
.actregister form input{
	margin-top:10px;
	padding-top:3px;}
.actregister form select{
	margin-top:10px;
	padding-top:3px;}
.actregister form textarea{
	margin-top:10px;}
.actregister .departmentbottom{
	border:none;}
/*------------------------------------------------活动赞助--------------------------------------------------------------*/
#d8min{
	border-bottom:0px;
	border-top:1px solid #999;
	margin-top:10px;
}
