@charset "utf-8";
/* CSS Document */


*{		padding:0;
		margin:0 auto;}
	/*所有li标签都应该去除点*/
	ul li{
		list-style:none;}
	/*所有的a标签去除下划线*/
	a{	color:#000;
		text-decoration:none;}
	body{
		width:1000px;
		color:#FF9;
		font-size:14px;
		font-family:"微软雅黑";
		/*background: -webkit-gradient(lineare91428bg1, left top, left bottom, from(#67BEFE), to(#fff));}
		*/
		background:url(../images/922769_13086175718akM.jpg);
		background-size:cover;
		/*background-size:cover;*/}
	.top{
		width:100%;
		height:172px;}
	.menu {
	width: 100%;
	height:70px;
	border-radius: 10px;
	}
	.menu ul{
		padding-top:5px}
.menu ul li {
	margin-top: 10px;
	float: left;
	padding-left:5px;
	font-size: 22px;
	width:105px;
	text-align:center;
}


ul li a:hover{
	color:#0F0;
}

.menuclass{
		transition: all 0.3s ease-out;
		color:#000;
		font-family:"黑体";
		padding:5px 0;
		width:100px;
		border-radius: 5px;
		display: block;
		text-decoration: none;
		box-shadow: 2px 2px 2px 2px #888;
	}
	
	 .menuclass:hover {
		color:#FC0;
		padding: 10px 0px 10px 0px;
		cursor:pointer;
		}
ul li a:hover{
	color:#F00;
}
	.content{
		height:550px;
		background-size:cover;
		border:3px solid #999;
		border-radius:10px;
		background-size:cover;}
/*------------------------底部----------------------------------*/		
.footer{
    width:100%;
    height:100px;
	float:left;
	font-family:"微软雅黑";
	border-radius: 10px;
}
.footer .footer1{
    height:50px;
    background-color:#999;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
.footer1 p{
    padding-top:15px;
    color:#fff;
    text-align:center;
	font-size:14px;
}
.footer2{
	height:50px;
	background-color:#F0F0F0;
	padding-top:10px;
	text-align:center;
	font-size:12px;
	color:#666;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

/*----------------------卡片效果--------------------------------------*/	
	.card{
		width:100%;
		float:left;
	}
	.card_div{
		position:absolute;
		width:100%;
		height:100%;
		font-size:18px;
		background:url(../images/63bOOOPICab_1024.jpg);
		border-radius:10px;
		background-size:cover;
		z-indent:2;
		text-align:center;}
	.card_div a{
		font-size:26px;
		color:#333;}
	.card_div a:hover{
		color:#F00;}
	
	#ul1 {
		width:100%;
		position:relative;
		}
	#ul1 li {
		width:23%; 
		height:120px;
		margin-left:70px;
		margin-top:45px;
		float:left;
		font-family:"华文新魏";}
	#ul1 li:hover{ 
		border-color: #9a9fa4; 
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.85);}
	#ul1 .active{ 
		border:1px dashed red;}
		
		
		
		